.p_classe{

    color: blue;

}

#p_id{

    color: brown;

}

#tabela_teste{

    border: 2px solid black;
    border-collapse: collapse;
}

th, td{

    border: 2px solid black;
    border-collapse: collapse;
}



